
.CardDiv {
    display: flex; 
    justify-content: space-evenly;
}


.ContactCard {
    border: solid black 1px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #6f8e70;

}

.CCinfo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.CCinfo p {
    margin: 8px;

}


@media (max-width: 700px) {
    .CardDiv {
        display: flex;
        flex-direction: column;
    }

    .ContactCard {
        width: 70%;
        margin: auto;
        margin-bottom: 10px;
        overflow: hidden;
    }

}
