.homeDiv {
    display: flex;
    height: 150%;
    flex-direction: column;
    align-items: center;
}

.titleDiv {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.textBox {
    margin-top: 70px;

}

.addressDiv {
    font-size: 18pt;
    font-weight: 800;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}


.infoBox {
    background-color: #6F8E70;
    border: solid 2px black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;

}

.infoTextBox {
    display: flex;
    justify-content: space-between;

}

.descriptionDiv {
    background: #6f8e70;
    border: solid black 2px;
    margin: 10px;
    border-radius: 5px;
}

.city {
    margin-right: 6px;
}

.statecode {
    margin-right: 6px;
}

.priceDiv {
    display: flex;
    flex-direction: column;
    font-size: 18pt;
    font-weight: 800;
    margin-right: 50px;
}

.imgDiv {
  margin-top: 2rem;
  width: 600px;
  height: 400px;
  margin-bottom: 1rem;
}

.homeImg {
    object-fit: fill;
    height: 100%;
    width: 100%;
    border: solid black 2px;
    border-radius: 5px;
}


@media (max-width: 575px) {
  .imgDiv {
    width: 300px;
    height: 200px;
    margin-top: 5rem;
  }
}
